* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.slider {
    width: 600px;
    overflow: hidden;
    position: relative;
}

.slider-inner {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}

.slider-inner img {
    width: 600px;
}